@font-face {
    font-family: 'BestermindRegular';
    src: url('../../assets/fonts/Bestermind/BestermindRegular.ttf') format('truetype');
  }


.containerParent{
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: 35% 66.28%;
    grid-template-rows: 500 500;
    grid-gap: 0px;
    margin-top: -0.65%;
    margin-left: -0.65%;
    
}
.container-Left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:  rgb(84, 95, 196);
    
}
.container-Left > h5{
 padding: 18px ;
font-size: 35px;
font-family: 'BestermindRegular', sans-serif;
}

.container-Left .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 90%; 
    height: 55%;
   background-color: none;
   color: rgb(84, 95, 196);
}
.container-Left .icons a svg{
    width: 100%;
    height: 25px;
    color:#212121;
    background-color: #545fc4;
}

.container-Left .icons a {
    transition: transform 0.3s; 
}

.container-Left .icons a:hover {
   
    transform: scale(1.5); 
  }
.container-Left .img-owner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 55%;
}
.img-owner{
  top: 25%;
    position: absolute;
    left: 35%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    transition: opacity .3s;
}













/*  Right contaier starting from here */

.container-Right{
    background-color: #212121;
    
}
.container-Right .menu-Icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.menu-Icons button svg{
    width: 50%;
    height: 85px;
}
.menu-Icons button {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    transition: transform 0.0s, color 0.3s, cursor 0.3s; 
}

.menu-Icons button:hover {
    transform: translateX(-0px); /* Move the icon 5px to the left on hover */
    color:   rgb(84, 95, 196);
    cursor: pointer; /* Change the cursor to a pointer on hover */
}
.container-Right .devData{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    height: 300px;
    margin-left: 40%;
    margin-top: 8%;

}

.devData h1{
    font-size: 35px;
    font-weight: 500;
    color: #545fc4;
}
.devData p{
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    line-height: 18px;
}
.devData  .btn-Parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

   .dawnload-btn{
    cursor: pointer;
    margin-top: 25px;
    border: 2px solid #545fc4 ;
    border-radius: 20px;
    padding: 12px;
    background-color: #212121;
    color: #545fc4;
    font-size: 14px;
    font-weight: 600;
    width: 8rem;
}

.dawnload-btn:hover{
background-color: #fff;
color: #212121;
border: 2px solid #fff;
}

.contact-btn{
  cursor: pointer;
    margin-top: 25px;
   background-color: #545fc4;
    border-radius: 20px;
    padding: 10px;
    width: 8rem;
    border: 2px solid #545fc4 ;
    color: #212121;
    font-size: 17px;
    font-weight: 400;
}

.contact-btn:hover{
background-color:#212121;
color: #fff;
border: 2px solid #fff;
}



/* modal */



.modal {
    display:none;
    position: fixed;
    z-index: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080 ;
}

  .modal-content {
      background-color:#212121;
      margin: 0% auto;
      padding: 10px;
    border: none;
    border-radius: 25px; 
    width: 25%;
    height: 529px;
    z-index: 1px;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     
      /* transition: transform 0.5s  ease-in; CSS transition for the opening animation  */
    transform: translateX(-100%); /* Initially off-screen to the right */
  }
  
  .close {
    padding: 5px;
    color:#545fc4;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  .modal.open {
    display: block;
  }
  
  .modal.open .modal-content {
    transform: translateX(2)
  }
  
  .modal-content .modal-body{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 35px;
   
}

.modal-body button{
    font-size: 18px;
    font-weight: 500;
    color: #545fc4;
      background: none;
      padding: 8px;
      border: 2px solid #545fc4;
      border-radius: 30px;
      width: 12rem;
      margin: 15px;
      cursor: pointer;
    }
    .modal-body button svg{
        cursor: pointer;
        width:25px;
        height: 25px;
    }
    .modal-body button:hover{
        cursor: pointer;
        background-color: #545fc4;
        border: 2px solid #545fc4;
        color: #212121;
    }